.App {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

.nav {
  background-color: #fff4a6;
  display: flex;
  justify-content: flex-end;
  float: right;
  border-radius: 0.2rem;
  padding: 0.2rem 1rem;
  width: auto;
  align-content: center;
}

a {
  text-decoration: none;
  margin: 0.5rem 1rem;
  color: #ff3238;
}

.Clogo {
  width: 7rem;
  height: 4rem;
  border-radius: 7px;
}

.textArea {
  width: 2 rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% auto;
}
.actdescript{
    margin: 2% auto;
    display: flex;
    justify-content: center;
    
    
}
.signup{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 24%;
    

}


